name: .NET Desktop Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore PseudoRun.Desktop.csproj

    - name: Build
      run: dotnet build PseudoRun.Desktop.csproj --configuration Release --no-restore

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: PseudoRun-EXE
        path: |
          **/bin/Release/**/PseudoRun.Desktop.exe
